@import '../shared/theme.scss';

.event-body{
  height: auto;
  background-color: black;
  font-size: 25px;
}
.event-p{
  position: relative;
  background-image: url('../../assets/imgs/events.jpg');
}
.tile-image{
  height: $fullWidth;
  width: $fullWidth;
  &:hover{
    height: $fullWidth + 20;
    width: $fullWidth + 20;
    opacity: 0.45;
  }
}
