
$fullWidth: 100%;
$halfWidth: $fullWidth / 2;
$thirdWidth: $fullWidth / 3;
$quarterWidth: $fullWidth / 4;
$tenthWidth: $fullWidth / 5;

$mainColor: rebeccapurple;
$secondaryColor: white;
$altColor: black;
