@mixin fonts($fontfamily, $fontfile){
  @font-face {
    font-family: 'Mrs Saint Delafield';
    src: url($fontfile + '.ttf') format('truetype');
  }
}
@include fonts('Mrs Saint Delafield', '/assets/fonts/MrsSaintDelafield');

$mainFont: 'Mrs Saint Delafield';
$secondaryFont: sans-serif;

$xlFont: 3rem;
$lgFont: 2.5rem;
$mdFont: 2rem;
$smFont: 1.5rem;
$xsFont: 1rem;

$fullWidth: 100%;
$halfWidth: $fullWidth / 2;
$thirdWidth: $fullWidth / 3;
$quarterWidth: $fullWidth / 4;
$tenthWidth: $fullWidth / 5;

$mainColor: rebeccapurple;
$secondaryColor: white;
$altColor: black;
$dangerColor: #C12017;
$bluColor: #4185ec;

$sectionHeader: 10vw;
$tileHeader: 5vw;

$flyWeight: 100;
$featherWeight: 200;
$wealterWeight: 300;
$heavyWeight: 500;
$sumoWeight: bolder;

$smallPx: 5px;
$mediumPx: 10px;
$largePx: 20px;
