@import './app/shared/theme.scss';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body, html{
  margin: 0 !important;
  color: $secondaryColor;
  background-color: $altColor;
  font-family: $secondaryFont;
}
.h-center{

}
.m-auto{
  margin: auto;
}
.xs-cols{width: $fullWidth;}
.sm-cols{width: $fullWidth}
.md-cols{width: $halfWidth;}
.lg-cols{width: $thirdWidth;}
.xl-cols{width: $quarterWidth;}

.top-five{margin-top: $smallPx;}
.top-ten{margin-top: $mediumPx;}
.top-twenty{margin-top: $largePx;}

.header{
  width: $fullWidth;
  font-size: $tileHeader;
  font-family: $mainFont;
  text-align: center;
  font-weight: $flyWeight;
}
.fixed-back{
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  & p{
  font-family: $mainFont;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  bottom: 0;
  text-align: center;
  margin: 0 auto;
  text-shadow: 10px 8px 11px $mainColor;
  font-size: 10vw;
  color: whitesmoke;
}
}
.space-repeat{
  background-repeat: space;
  background-size: contain;
}
.bg-cover{
  background-size: cover;
  width: $fullWidth;
  background-attachment: inherit;
}
.bg-contain{
  background-size: $fullWidth;
  width: $fullWidth;
  background-attachment: inherit;
}
.btn{
  text-transform: uppercase;
  padding: 10px;
  border-radius: 5px;
  border: none;
  height: 50px;
  width: 40%;
  &:hover{
    background-color: darken($mainColor, 20%);
    box-shadow: 2px 3px 5px rgba(255, 255, 255, 0.25);
    height: 55px;
    width: 41%;
    cursor: pointer;
  }
}
.btn-dft{
  background: $mainColor;
  color: $secondaryColor;
}
.btn-crazy{
  background-color: $dangerColor;
  color: $secondaryColor;
  &:hover{
    background-color: darken($dangerColor, 10%)
  }
}
.btn-blu{
  background: $bluColor;
  color: $secondaryColor;
  &:hover{
    background-color: darken($bluColor, 10%)
  }
}
.btn-full{
  width: $fullWidth;
  &:hover{
    width: $fullWidth;
  }
}
.btn-half{
  width: $halfWidth;
}
::ng-deep.mat-grid-tile.mat-figure{
  display: contents;
}

